.results-container div:nth-child(1) .poll-result .result-bar,
.pie-chart-labels li:nth-child(1) {
  background-color: #28a745;
}
.results-container div:nth-child(2) .poll-result .result-bar,
.pie-chart-labels li:nth-child(2) {
  background-color: #3f86a5;
}
.results-container div:nth-child(3) .poll-result .result-bar,
.pie-chart-labels li:nth-child(3) {
  background-color: #dc4144;
}
.results-container div:nth-child(4) .poll-result .result-bar,
.pie-chart-labels li:nth-child(4) {
  background-color: #9ca02a;
}

.results-container div:nth-child(5) .poll-result .result-bar,
.pie-chart-labels li:nth-child(5) {
  background-color: #1bc08a;
}
.results-container div:nth-child(6) .poll-result .result-bar,
.pie-chart-labels li:nth-child(6) {
  background-color: #356f88;
}
.results-container div:nth-child(7) .poll-result .result-bar,
.pie-chart-labels li:nth-child(7) {
  background-color: #b45051;
}
.results-container div:nth-child(8) .poll-result .result-bar,
.pie-chart-labels li:nth-child(8) {
  background-color: #6c6e1e;
}

.results-container div:nth-child(9) .poll-result .result-bar,
.pie-chart-labels li:nth-child(9) {
  background-color: #48d848;
}
.results-container div:nth-child(10) .poll-result .result-bar,
.pie-chart-labels li:nth-child(10) {
  background-color: #3f57a5;
}
.results-container div:nth-child(11) .poll-result .result-bar,
.pie-chart-labels li:nth-child(11) {
  background-color: #dc416f;
}
.results-container div:nth-child(12) .poll-result .result-bar,
.pie-chart-labels li:nth-child(12) {
  background-color: #a0772a;
}

.results-container div:nth-child(13) .poll-result .result-bar,
.pie-chart-labels li:nth-child(13) {
  background-color: #219630;
}
.results-container div:nth-child(14) .poll-result .result-bar,
.pie-chart-labels li:nth-child(14) {
  background-color: #3f85a5;
}
.results-container div:nth-child(15) .poll-result .result-bar,
.pie-chart-labels li:nth-child(15) {
  background-color: #962e27;
}
.results-container div:nth-child(16) .poll-result .result-bar,
.pie-chart-labels li:nth-child(16) {
  background-color: #b67520;
}

.results-container div:nth-child(17) .poll-result .result-bar,
.pie-chart-labels li:nth-child(17) {
  background-color: #54a164;
}
.results-container div:nth-child(18) .poll-result .result-bar,
.pie-chart-labels li:nth-child(18) {
  background-color: #4e3fa5;
}
.results-container div:nth-child(19) .poll-result .result-bar,
.pie-chart-labels li:nth-child(19) {
  background-color: #832e30;
}
.results-container div:nth-child(20) .poll-result .result-bar,
.pie-chart-labels li:nth-child(20) {
  background-color: #c59d1a;
}

.results-container div:nth-child(21) .poll-result .result-bar,
.pie-chart-labels li:nth-child(21) {
  background-color: #5dc01b;
}
.results-container div:nth-child(22) .poll-result .result-bar,
.pie-chart-labels li:nth-child(22) {
  background-color: #6493e2;
}
.results-container div:nth-child(23) .poll-result .result-bar,
.pie-chart-labels li:nth-child(23) {
  background-color: #dc41ae;
}
.results-container div:nth-child(24) .poll-result .result-bar,
.pie-chart-labels li:nth-child(24) {
  background-color: #789443;
}

.results-container div:nth-child(25) .poll-result .result-bar,
.pie-chart-labels li:nth-child(25) {
  background-color: #74c56a;
}
.results-container div:nth-child(26) .poll-result .result-bar,
.pie-chart-labels li:nth-child(26) {
  background-color: #2a9dce;
}
.results-container div:nth-child(27) .poll-result .result-bar,
.pie-chart-labels li:nth-child(27) {
  background-color: #b61b1e;
}
.results-container div:nth-child(28) .poll-result .result-bar,
.pie-chart-labels li:nth-child(28) {
  background-color: #b7be51;
}

.results-container div:nth-child(29) .poll-result .result-bar,
.pie-chart-labels li:nth-child(29) {
  background-color: #4b8367;
}
.results-container div:nth-child(30) .poll-result .result-bar,
.pie-chart-labels li:nth-child(30) {
  background-color: #436c7e;
}
