html[data-theme="dark"] {
  --primaryBackground: #2d4563;
  --primaryTextColor: #e6e6e6;
  --primaryAnchorColor: #e6e6e6;
  --primaryBorder: 1px solid #375375;
  --primaryBordercolor: #375375;
  --primaryContainerColor: #2d4a6d;
  --primaryButtonTextColor: #e6e6e6;

  --headerBackgroundColor: #1c2c40;
  --secondaryBackground: #2d4b6d;
  --choiceLabelColor: #1c2c40;
}

html {
  --primaryBackground: #f1f1f1;
  --primaryTextColor: #3c3c3c;
  --primaryAnchorColor: #3c3c3c;
  --primaryBorder: 1px solid #e4e4e4;
  --primaryBordercolor: #e4e4e4;
  --primaryContainerColor: white;
  --primaryButtonTextColor: #e6e6e6;

  --headerBackgroundColor: #1c2c40;
  --secondaryBackground: #f9f9f9;
  --choiceLabelColor: #ababab;
}

body {
  background-color: var(--primaryBackground);
  color: var(--primaryTextColor);
}

a, a:hover {
  color: var(--primaryAnchorColor);
  text-decoration: none;
}

a:visited {
  color: #777777;
}

.nav-item a {
  color: #e6e6e6;
}

.nav-item.create-poll-nav {
  border: 1px solid #e6e6e6;
  padding: 0.4rem 0.5rem;
  border-radius: 0.25rem;
}

.header-wrapper {
  background-color: #1c2c40;
}

.main-wrapper { 
  padding: 1.65rem;
  background-color: var(--primaryBackground);
  height: calc(100% - 56px);
}

.footer-wrapper {
  height: 48px;
  background-color: #1c2c40;
  display: flex;
  justify-content: center;
}

.footer-wrapper .container {
  margin-top: 0.5rem;
  text-align: center;
}

.bg-dark-blue {
  background-color: #1c2c40;
}

.btn:focus {
  box-shadow: none;
}

button[type='submit'].btn.btn-light-blue {
  background-color: #598ecc;
  border-color: #598ecc;
  color: var(--primaryButtonTextColor);
  border-radius: 2rem;
  border-width: 2px;
}

button[type='submit'].btn.btn-light-blue:hover {
  background-color: #21354c;
  border-color: #598ecc;
  color: var(--primaryButtonTextColor);
}

.btn-grey-blue {
  border-radius: 2rem;
  background-color: #2c4563;
  color: var(--primaryButtonTextColor);
  border: 1px solid #375375;
}

.btn-grey-blue:hover {
  background-color: #598ecc;
  border-color: #598ecc;
  color: var(--primaryButtonTextColor);
}

select.form-control,
select.form-control:focus,
textarea.form-control,
textarea.form-control:focus,
input[type='text'],
input[type='text']:focus,
input[type='number'],
input[type='number']:focus {
  color: var(--primaryTextColor);
  background-color: var(--secondaryBackground);
  border: var(--primaryBorder)
}

.dropdown-menu {
  background-color: var(--primaryContainerColor);
}

.dropdown-item {
  color: var(--primaryTextColor);
}

.dropdown-item:hover {
  color: var(--primaryTextColor);
  text-decoration: none;
  background-color: var(--secondaryBackground);
}

.dropdown-item.btn {
  border-radius: 0;
}

.header-settings.dropdown { 
  color: #e6e6e6;
}

.dropdown.header-settings .dropdown-menu {
  padding: 0.5rem 0.75rem;
  width: 220px;
  color: var(--primaryTextColor);
}

.dropdown.header-settings .dropdown-menu div {
  display: flex;
  justify-content: space-between;
}

.page-header {
  padding: 1rem 0;
}

.card {
  border: none;
  background-color: var(--secondaryBackground);
}

.card-header {
  color: #e6e6e6;
  background-color: #1c2c40;
  border-bottom: var(--primaryBorder);
}

.list-group-item {
  background-color: var(--secondaryBackground);
  border: var(--primaryBorder);
}

.error-container {
  min-height: calc(50% - 156px);
  min-height: calc(50vh - 156px);
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--primaryBorder);
  background-color: var(--secondaryBackground);
  border-radius: .25rem;
}

.vote-history .list-group {
  max-height: 300px;
  overflow-y: hidden;
}

.vote-history .list-group:hover {
  overflow-y: scroll;
}

.vote-history.card .list-group-item {
  padding: .5rem 1rem;
  display: flex;
  justify-content: space-between;
}

.vote-history .list-group-item a {
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: pre-wrap;
  margin-right: 1em;
}


.vote-history .list-group-item a:visited {
  color: var(--primaryTextColor);
}

.vote-history.card .list-group-item:hover span {
  display: block;
}

.vote-history.card .list-group-item span {
  cursor: pointer;
  line-height: 1.5;
  display: none;
}

.poll-card-actions {
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
}

.poll-card-actions > div:first-child {
  display: flex;
}

.poll-card-actions-options {
  line-height: 2.1;
}

.poll-card-actions-options > div:first-child span:first-child {
  margin-right: 1rem;
}

.poll-card-actions-options span:hover {
  cursor: pointer;
}

.poll-card-actions-compact {
  display: none;
}

.poll-card-actions-compact span {
  padding: 0 0.4rem;
}

.poll-card-container {
  background-color: var(--secondaryBackground);
  padding: 1rem 1rem 0.4rem;
  border-radius: .25rem;
  margin-bottom: 1rem;
  border: var(--primaryBorder);
}

.poll-card-container hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.poll-card-title {
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  white-space: pre-wrap;
  padding-bottom: 1px;
}

.poll-wrapper {
  border: var(--primaryBorder);
  padding: 2rem;
  background-color: var(--secondaryBackground);
  border-radius: 0.25rem;
}

.poll-title {
  word-break: break-word;
}

.poll-desc, .poll-choices {

}

.poll-card-desc {
  margin-bottom: 0.5rem;
}

.poll-desc > div {
  padding: 0.8rem;
  border-radius: .25rem;
  background-color: var(--primaryBackground);
}

.poll-card-desc p, .poll-card-desc i {
  margin: 0;
  display: -webkit-box;
  font-size: 0.9rem;
  max-height: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  white-space: pre-wrap;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

.poll-desc p {
  margin-bottom: 0;
  max-height: 240px;
  overflow-y: auto;
  font-size: 0.9rem;
  word-break: break-word;
  white-space: pre-wrap;
}

.poll-choices-icon {
  color: var(--primaryTextColor);
  cursor: pointer;
}
  
.poll-choices .input-group-text {
  background-color: transparent;
  border: none;
}

.poll-choices input[type='radio'].choice-control {
  height: 24px;
  width: 24px;
  margin: 8px;
}

.poll-choices label.form-control {
  width: auto;
  flex: 0.3;
  transition: width 1.2s;
  white-space: nowrap;
  background-color: var(--choiceLabelColor);
  border: none;
  color: var(--primaryTextColor);
  font-weight: 500;
}

.poll-choices input[type='radio']:checked.choice-control + label.form-control {
  background-color: #28a745;
  border-color: #28a745;
  color: var(--primaryTextColor);
  width: 100%;
  flex: 1;
  transition: 1.2s;
}

.poll-stat {
  font-size: 0.8rem;
}

.poll-stats {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 2rem;
}

.poll-timer {
  text-align: center;
}

.results-container {
  padding: 0.8rem;
  border-radius: .25rem;
  background-color: var(--primaryBackground);
}

.poll-result {
  background-color: var(--secondaryBackground);
  border-radius: 0.25rem;
}

.poll-results {
  width: 100%;
  min-height: 250px;
}

.user-vote {
  width: 24px;
  height: 24px;
  margin: 8px;
}

.results-container div:nth-child(1) .poll-result .result-bar {
  background-color: #28a745;
}

.results-container div:nth-child(2) .poll-result .result-bar {
  background-color: #3f86a5;
}

.results-container div:nth-child(3) .poll-result .result-bar {
  background-color: #dc4144;
}

.results-container div:nth-child(4) .poll-result .result-bar {
  background-color: #9ca02a;
}

.result-bar {
  display: flex;
  justify-content: space-between;
  transition: width 1.2s ease-in-out;
  white-space: nowrap;
  border: none;
  color: var(--primaryTextColor);
  border-radius: 0.25rem;
  padding: .375rem .75rem;
}

.result-bar > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 600;
}

.result-bar > div div:not(:first-child) {
  margin-left: 1rem;
}

.results-container div:nth-child(1) .poll-result .result-transition {
  background-color: #28a745;
}

.results-container div:nth-child(2) .poll-result .result-transition {
  background-color: #3f86a5;
}

.results-container div:nth-child(3) .poll-result .result-transition {
  background-color: #dc4144;
}

.results-container div:nth-child(4) .poll-result .result-transition {
  background-color: #9ca02a;
}

.result-transition {
  display: flex;
  justify-content: space-between;
  width: 0;
  white-space: nowrap;
  border: none;
  color: var(--primaryTextColor);
  border-radius: 0.25rem;
  padding: .375rem .75rem;
}

.result-transition-enter {
  display: flex;
  justify-content: space-between;
  width: 0;
  white-space: nowrap;
  border: none;
  color: var(--primaryTextColor);
  border-radius: 0.25rem;
  padding: .375rem .75rem;
}

.result-transition > div:not(:first-child) {
  margin-left: 1rem;
}

.result-transition-active {
  width: 100%;
  transition: width 1.2s;
}

.result-bar > div:not(:first-child) {
  margin-left: 1rem;
}

.pagination {
  justify-content: center;
}

.page-item.active .page-link a {
  color: #e6e6e6;
}

.page-link {
  color: #e6e6e6;
  padding: 0.75rem 1rem;
  background-color: #2d4a6d;
  border: 1px solid #375375;
}

.page-link:hover {
  background-color: #1c2c40;
  border-color: #375275;
}

.page-link:focus {
  box-shadow: none;
}


@media (max-width: 576px) {
  .poll-desc, .poll-choices {
    margin: 0;
  }
  .form-group.col {
    flex-basis: auto;
  }
  .poll-card-actions-options > div:first-child {
    display: none;
  }

  .poll-card-actions-compact {
    display: block;
  }
}

@media (max-width: 768px) {
  .poll-desc, .poll-choices {
    margin: 0;
  }
  .form-group.col {
    flex-basis: auto;
  }
}
/*@import '~bootstrap/dist/css/bootstrap.min.css';*/
/*@import '~@fortawesome/fontawesome-svg-core/styles.css';*/

/*# sourceMappingURL=styles.chunk.css.map*/